body{
    color: white;
    background: rgb(0, 0, 0) !important;
   
}



a, li{
    text-decoration: none;
    list-style: none !important;
    color: #fff !important;
    padding: 10px;
    font-size: 20px;
    
}

.navbar-dark .navbar-nav .nav-link.active{
    color: rgba(255, 255, 255, 0.493) !important;
}

div#navbarNav {
    justify-content: space-between;
    justify-content: center;
}

body {
    background: url('webb-dark.png') no-repeat center center fixed;
    height: auto;
    overflow-y: hidden;
    }
    
    @media (min-width: 992px) {
        .navbar {
            height:50px;
            padding-top: 0;
            overflow: visible;
        }
    }
    
    .logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    height: 70px;
    top: 0;
    z-index: 2;
    width: 70px;
    }


    .vertical .carousel-inner {
        height: 100%;
      }
      
   

      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff0;
        background-clip: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.25rem;
    }

    #carouselExampleIndicators{
        margin-top: 4rem !important;
    }