
    /* carrosel */

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) ;
     }
     .carousel-item-next,
     .active.carousel-item-right {
       -webkit-transform: translate3d(0, -100%, 0) !important;
            transform: translate3d(0, -100%, 0) !important;
     }

    
     .carousel-item-prev,
     .active.carousel-item-left {
     -webkit-transform: translate3d(0, -100%, 0) !important;
            transform: translate3d(0, -100%, 0)!important ;
     }
     
body{
    color: white;
    background: rgb(0, 0, 0) !important;
   
}



a, li{
    text-decoration: none;
    list-style: none !important;
    color: #fff !important;
    padding: 10px;
    font-size: 20px;
    
}

.navbar-dark .navbar-nav .nav-link.active{
    color: rgba(255, 255, 255, 0.493) !important;
}

div#navbarNav {
    justify-content: space-between;
    justify-content: center;
}


    
    @media (min-width: 992px) {
        .navbar {
            height:50px;
            padding-top: 0;
            overflow: visible;
        }
    }
    
    .logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    height: 70px;
    top: 0;
    z-index: 2;
    width: 70px;
    }


      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff0;
        background-clip: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.25rem;
    }

    #carouselExampleIndicators{
        margin-top: 3rem !important;
    }

    .carousel-indicators > button {
        border-radius: 50% !important;
        width: 5px !important;
        height: 5px !important;
      }

           
    
    #container{
        width:1000px;
        margin:0 auto;
        height:100%;
    }


    .glow {
        text-shadow: 0 0 12px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }



    .card-body img{
        width: 90px;
    }

    .cards {
       
        
    }